@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/DemandEoBase.css" />

    <title>Demanda EO</title>

</head>

<body>

    @*content*@
    <table style="width:100%; border-collapse:collapse;">

        <tbody>

            <tr>
                <td>
                    <p class="data">São Paulo, 14 de setembro de 2020 </p>
                </td>
            </tr>

            <tr>
                <td>
                    <p class="block_3">Cotação de Seguro de Responsabilidade Civil Profissional – E&O</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p class="block_5">Prezado (a);</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p class="block_5">Agradecemos o interesse em nossos produtos e serviços.</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p class="block_5">
                        É com grande satisfação que enviamos para vossa analise a cotação do seguro de Responsabilidade Civil Profissional – E&O para o risco em referência, e com base nas informações fornecidas pelo segurado.
                    </p>
                </td>
            </tr>

            <tr>
                <td>
                    <p class="block_5">Trata-se de uma cotação indicativa, sujeita a alterações após a análise dos documentos e informações apontadas na seção “Subjetividade” da presente cotação. Será considerada firme após o envio de todas as subjetividades e confirmação da cobertura pela EZZE Seguros.</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p class="block_5">Validade da cotação de 15 dias a partir da data em epígrafe.</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p class="block_5">Ficamos à disposição para quaisquer esclarecimentos que se façam necessários.</p>
                </td>
            </tr>

        </tbody>

    </table>

    <div class="pageBreak"></div>

    <table style="width:100%; border-collapse:collapse;" class="table_">

        <tbody>

            @*content*@
            <tr>
                <td>
                    <p class="block_9">Proponente </p>
                </td>
            </tr>

            <tr>
                <td>

                    <table style="border-collapse:collapse;" class="table_">

                        <tbody class="calibre1">
                            <tr>
                                <td class="td_">
                                    <p class="block_10"><span class="text_">Tomador:</span><span class="text_1"> </span><span class="text_2">Conforme for preenchido no Portal</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_1">
                                    Co-segurado:
                                </td>
                                <td class="td_2">
                                    Conforme for preenchido no Portal(Prever o modelo mas nesse momento caso seja vazio voltar NÃO SE APLICA)
                                </td>
                            </tr>
                            <tr>
                                <td class="td_3">
                                    Atividade Profissional:
                                </td>
                                <td class="td_4">
                                    Conforme for preenchido no Portal
                                </td>
                            </tr>
                        </tbody>

                    </table>

                </td>
            </tr>

            <tr>
                <td>
                    <p class="block_9">Termos e Condições</p>
                </td>
            </tr>

            <tr>
                <td>

                    <table class="table_">

                        <tbody class="calibre1">

                            <tr class="calibre2">
                                <td class="td_5"><p class="block_13">Vigência do Seguro:</p></td>
                                <td class="td_6"><p class="block_14">Conforme for preenchido no Portal (21/02/2020 às 24:00<span class="calibre3">hs  à</span> 21/02/2021 às 24:00hs)</p></td>
                            </tr>
                            <tr class="calibre2">
                                <td class="td_1"><p class="block_11">Retroatividade:</p></td>
                                <td class="td_2"><p class="block_14">Conforme for preenchido no Portal(Prever o modelo mas nesse momento caso seja vazio voltar NÃO SE APLICA)</p></td>
                            </tr>
                            <tr class="calibre2">
                                <td class="td_3"><p class="block_11">Prazo Complementar:</p></td>
                                <td class="td_4"><p class="block_15">O Segurado terá o direito a um Prazo Complementar de até <b class="calibre4">36 meses</b>, sem a cobrança de Prêmio adicional, para notificar reclamações à Seguradora após o fim da vigência da apólice caso de não renovação do seguro.</p></td>
                            </tr>
                            <tr class="calibre2">
                                <td class="td_1"><p class="block_11">Prazo Suplementar:</p></td>
                                <td class="td_2"><p class="block_15">O Segurado terá o direito a contratação do Prazo Suplementar de até <b class="calibre4">24 meses</b>, mediante a cobrança de prêmio adicional, somente uma única vez e após o termino do Prazo Complementar, conforme descrito abaixo: </p><p class="block_15">12 meses: 75% do prêmio pago na última apólice vigente; </p><p class="block_15">24 meses: 100% do prêmio pago na última apólice vigente; </p><p class="block_15">36 meses: 125% do prêmio pago na última apólice vigente;</p></td>
                            </tr>
                            <tr class="calibre2">
                                <td class="td_3"><p class="block_11">Âmbito de Cobertura:</p></td>
                                <td class="td_4"><p class="block_15">Território Brasileiro, Jurisdição Brasileira</p></td>
                            </tr>
                            <tr class="calibre2">
                                <td class="td_1"><p class="block_11">Tipo de Apólice:</p></td>
                                <td class="td_2"><p class="block_15">A Base de Reclamação, com Notificação</p></td>
                            </tr>

                        </tbody>

                    </table>

                </td>
            </tr>

            <tr>
                <td>
                    <p class="block_9">Opções de Contratação </p>
                </td>
            </tr>

            <tr>
                <td>
                    <p class="block_15">Conforme as opções de LMG e Franquia selecionado no Portal</p>
                </td>
            </tr>

            <tr>
                <td>

                    <table class="table_1">
                        <tbody class="calibre1">
                            <tr class="calibre2">
                                <td class="td_7"><p class="block_16">&nbsp;</p></td>
                                <td class="td_8"><p class="block_17">Limite Máximo de Garantia - LMG</p></td>
                                <td class="td_9"><p class="block_18">Franquia</p></td>
                                <td class="td_10"><p class="block_17">Prêmio TOTAL</p></td>
                            </tr>
                            <tr class="calibre2">
                                <td class="td_11"><p class="block_19">Opção 1</p></td>
                                <td class="td_12"><p class="block_20">R$ 5.000.000,00</p></td>
                                <td class="td_13"><p class="block_20">P.O.S de 15% dos prejuízos com mínimo de R$ 60.000,00</p></td>
                                <td class="td_14"><p class="block_20">R$ 13.000,00</p></td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>

            <tr>
                <td>
                    <p class="block_21">Forma de Pagamento</p>
                </td>
            </tr>

            <tr>
                <td>
                    <ul class="list_">
                        <li class="block_22">À Vista</li>
                        <li class="block_22">Parcelado em até 6x sem juros ou 10x com juros de 2,0% ao mês.</li>
                    </ul>
                </td>
            </tr>

        </tbody>

    </table>

    <div class="pageBreak"></div>

    <table style="width:100%; border-collapse:collapse;">

        @*content*@
        <tr>
            <td>
                <p class="block_23">Extensão de Coberturas</p>
            </td>
        </tr>

        <tr>
            <td>

                <table class="table_">

                    <tbody class="calibre1">

                        <tr class="calibre2">
                            <td class="td_15"><p class="block_6">&nbsp;</p></td>
                            <td class="td_16"><p class="block_24">LMG</p></td>
                        </tr>
                        <tr class="calibre2">
                            <td class="td_17"><p class="block_11">DANOS DECORRENTES DE AÇÕES OU OMISSÕES CULPOSAS NA PRESTAÇÃO DE SERVIÇOS PROFISSIONAIS</p></td>
                            <td class="td_18"><p class="block_25">100% do LMG</p></td>
                        </tr>
                        <tr class="calibre2">
                            <td class="td_19"><p class="block_11">CUSTO DE DEFESA DO SEGURADO</p></td>
                            <td class="td_20"><p class="block_25">100% do LMG</p></td>
                        </tr>
                        <tr class="calibre2">
                            <td class="td_17"><p class="block_11">DANOS MATERIAIS, DANOS CORPORAIS E DANOS MORAIS</p></td>
                            <td class="td_18"><p class="block_25">100% do LMG</p></td>
                        </tr>
                        <tr class="calibre2">
                            <td class="td_19"><p class="block_11">ATOS DESONESTOS DE EMPREGADOS</p></td>
                            <td class="td_20"><p class="block_25">10% do LMG</p></td>
                        </tr>
                        <tr class="calibre2">
                            <td class="td_17"><p class="block_11">PROPRIEDADE INTELECTUAL</p></td>
                            <td class="td_18"><p class="block_25">100% do LMG</p></td>
                        </tr>
                        <tr class="calibre2">
                            <td class="td_19"><p class="block_11">EXTRAVIO, ROUBO OU FURTO DE DOCUMENTOS</p></td>
                            <td class="td_20"><p class="block_25">100% do LMG</p></td>
                        </tr>
                        <tr class="calibre2">
                            <td class="td_17"><p class="block_11">PERDAS FINANCEIRAS / LUCROS CESSANTES DE TERCEIROS</p></td>
                            <td class="td_18"><p class="block_25">100% do LMG</p></td>
                        </tr>
                        <tr class="calibre2">
                            <td class="td_19"><p class="block_11">CONSULTORES, CONTRATADOS, SUBCONTRATADO</p></td>
                            <td class="td_20"><p class="block_25">100% DO LMG</p></td>
                        </tr>
                        <tr class="calibre2">
                            <td class="td_17"><p class="block_11">DANOS CAUSADOS POR TRANSMISSÃO INVOLUNTÁRIA DE VÍRUS E MALWARE</p></td>
                            <td class="td_18"><p class="block_25">10% do LMG</p></td>
                        </tr>

                    </tbody>

                </table>

            </td>
        </tr>

        <tr>
            <td>
                <p class="block_23">Exclusões</p>
            </td>
        </tr>

        <tr>
            <td>
                <ul class="list_">

                    <li class="block_26">Atos dolosos ou culpa grave equiparável ao dolo</li>
                    <li class="block_27">Fatos ou Atos anteriores à data retroativa de cobertura</li>
                    <li class="block_27">Reclamações iniciadas antes da data de início de vigência</li>
                    <li class="block_27">Reclamações relacionadas riscos seguráveis em outras modalidades de seguros, tais como RC Produtos, RC Obras, Riscos de Engenharia e Risco Cibernético.</li>
                    <li class="block_27">Quaisquer fatos e/ou reclamações que não sejam decorrentes da atividade profissional do segurado.</li>
                    <li class="block_27">Quaisquer reclamações relacionadas a obras, projetos e/ou atividades que possuam apólice de RC Profissional especifica.</li>
                    <li class="block_27">Reclamação resultante de, baseada em ou atribuível a qualquer defeito na concepção ou fabricação de qualquer produto</li>
                    <li class="block_27">Reclamação resultante de, baseada em ou atribuível a um defeito em qualquer matéria-prima</li>
                    <li class="block_27">Reclamação resultante de, baseada em ou atribuível. Serviços em que a Anotação de Responsabilidade Técnica (ART) ou Registro de Responsabilidade Técnica (RRT) não tenham sido emitidos junto ao CREA ou CAU, respectivamente</li>
                    <li class="block_27">Reclamação resultante de, baseada em ou atribuível a quebra de garantia ou atraso</li>
                    <li class="block_27">Reclamação resultante de, baseada em ou atribuível erro de avaliação de bens.</li>
                    <li class="block_28">Demais exclusões do produto Responsabilidade Civil Profissional da Ezze Seguros S.A</li>
                </ul>

            </td>
        </tr>

        <tr>
            <td>
                <p class="block_23">
                    Observações
                </p>
            </td>
        </tr>

        <tr>
            <td>

                <ul class="list_">

                    <li class="block_26">O registro deste plano na SUSEP não implica, por parte da Autarquia, incentivo ou recomendação a sua comercialização; e</li>
                    <li class="block_27">O segurado poderá consultar a situação cadastral de seu corretor de seguros, no site www.susep.gov.br, por meio do número de seu registro na SUSEP, nome completo, CNPJ ou CPF.</li>
                    <li class="block_27">PROCESSO PRODUTO SUSEP: 15414.629090/2019-49.</li>
                    <li class="block_28">O segurado poderá consultar a situação cadastral de seu corretor de seguros, no site www.susep.gov.br, por meio do número de seu registro na SUSEP, nome completo, CNPJ ou CPF.</li>

                </ul>

            </td>
        </tr>

    </table>

    <div class="pageBreak"></div>

    <table style="width:100%; border-collapse:collapse;">

        @*content*@
        <tr>
            <td>
                <p class="block_30">Forma de Pagamento</p>
            </td>
        </tr>

        <tr>
            <td>
                <p class="block_31">Sair as formas de pagamento para cada opção colocada no momento do cálculo no sistema, segue exemplo</p>
            </td>
        </tr>

        <tr>
            <td>
                <table style="border-collapse:collapse;" class="table_">
                    <thead>
                        <tr>
                            <th colspan="2" rowspan="2">Plano</th>
                            <th colspan="3">Opção 1</th>
                            <th colspan="3">Opção 2</th>
                            <th colspan="3">Opção 3</th>
                            <th colspan="3">Opção 4</th>
                        </tr>

                        <tr>
                            <td>
                                1 Parcela
                            </td>
                            <td>
                                Demais
                            </td>
                            <td>
                                Total
                            </td>
                            <td>
                                1 Parcela
                            </td>
                            <td>
                                Demais
                            </td>
                            <td>
                                Total
                            </td>
                            <td>
                                1 Parcela
                            </td>
                            <td>
                                Demais
                            </td>
                            <td>
                                Total
                            </td>
                            <td>
                                1 Parcela
                            </td>
                            <td>
                                Demais
                            </td>
                            <td>
                                Total
                            </td>
                        </tr>

                    </thead>

                    <tbody>
                        <tr>
                            <td rowspan="2">0 + 1</td>
                            <td>Débito em Conta</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                        <tr>
                            <td>Carnê</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                        <tr>
                            <td rowspan="2">0 + 2</td>
                            <td>Débito em Conta</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                        <tr>
                            <td>Carnê</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                        <tr>
                            <td rowspan="2">0 + 3</td>
                            <td>Débito em Conta</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                        <tr>
                            <td>Carnê</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                        <tr>
                            <td rowspan="2">0 + 4</td>
                            <td>Débito em Conta</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                        <tr>
                            <td>Carnê</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                        <tr>
                            <td rowspan="2">0 + 5</td>
                            <td>Débito em Conta</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                        <tr>
                            <td>Carnê</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                        <tr>
                            <td rowspan="2">0 + 6</td>
                            <td>Débito em Conta</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                        <tr>
                            <td>Carnê</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                    </tbody>

                </table>
            </td>
        </tr>

    </table>

</body>

</html>
