@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/DemandEoBase.css" />

    <title>Demanda EO</title>

</head>

<body>

    @*content*@
    <table>

        <tbody>

            <tr>
                <td>
                    <p class="data">São Paulo, 14 de setembro de 2020 </p>
                </td>
            </tr>

            <tr>
                <td>
                    <p class="titulo">Cotação de Seguro de Responsabilidade Civil Profissional – E&O</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p class="texto">Prezado (a);</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p class="texto">Agradecemos o interesse em nossos produtos e serviços.</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p class="texto">
                        É com grande satisfação que enviamos para vossa analise a cotação do seguro de Responsabilidade Civil Profissional – E&O para o risco em referência, e com base nas informações fornecidas pelo segurado.
                    </p>
                </td>
            </tr>

            <tr>
                <td>
                    <p class="texto">Trata-se de uma cotação indicativa, sujeita a alterações após a análise dos documentos e informações apontadas na seção “Subjetividade” da presente cotação. Será considerada firme após o envio de todas as subjetividades e confirmação da cobertura pela EZZE Seguros.</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p class="texto">Validade da cotação de 15 dias a partir da data em epígrafe.</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p class="texto">Ficamos à disposição para quaisquer esclarecimentos que se façam necessários.</p>
                </td>
            </tr>

        </tbody>

    </table>

    <div class="pageBreak"></div>

    <table>

        <tbody>

            @*content*@
            <tr>
                <td>
                    <p class="subTitulo">Proponente </p>
                </td>
            </tr>

            <tr>
                <td>

                    <table id="tabelaProponente">

                        <tbody>
                            <tr id="tomadorTopBorder">
                                <td colspan="2">
                                    Tomador: <span class="tdTomadorTexto">Conforme for preenchido no Portal</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Co-segurado:</span>
                                </td>
                                <td>
                                    <span class="red">Conforme for preenchido no Portal(Prever o modelo mas nesse momento caso seja vazio voltar NÃO SE APLICA)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Atividade Profissional:
                                </td>
                                <td>
                                    <span class="red">Conforme for preenchido no Portal</span>
                                </td>
                            </tr>
                        </tbody>

                    </table>

                </td>
            </tr>

            <tr>
                <td>
                    <p class="subTitulo">Termos e Condições</p>
                </td>
            </tr>

            <tr>
                <td>

                    <table id="tabelaTermos">

                        <tbody>

                            <tr>
                                <td>Vigência do Seguro:</td>
                                <td><span class="red">Conforme for preenchido no Portal (21/02/2020 às 24:00 hs  à 21/02/2021 às 24:00 hs)</span></td>
                            </tr>
                            <tr>
                                <td>Retroatividade:</td>
                                <td><span class="red">Conforme for preenchido no Portal (Prever o modelo mas nesse momento caso seja vazio voltar NÃO SE APLICA)</span></td>
                            </tr>
                            <tr>
                                <td>Prazo Complementar:</td>
                                <td>O Segurado terá o direito a um Prazo Complementar de até <b>36 meses</b>, sem a cobrança de Prêmio adicional, para notificar reclamações à Seguradora após o fim da vigência da apólice caso de não renovação do seguro.</td>
                            </tr>
                            <tr>
                                <td>Prazo Suplementar:</td>
                                <td>O Segurado terá o direito a contratação do Prazo Suplementar de até <b>24 meses</b>, mediante a cobrança de prêmio adicional, somente uma única vez e após o termino do Prazo Complementar, conforme descrito abaixo: 12 meses: 75% do prêmio pago na última apólice vigente; 24 meses: 100% do prêmio pago na última apólice vigente; 36 meses: 125% do prêmio pago na última apólice vigente;</td>
                            </tr>
                            <tr>
                                <td>Âmbito de Cobertura:</td>
                                <td>Território Brasileiro, Jurisdição Brasileira</td>
                            </tr>
                            <tr>
                                <td>Tipo de Apólice:</p></td>
                                <td>A Base de Reclamação, com Notificação</td>
                            </tr>

                        </tbody>

                    </table>

                </td>
            </tr>

            <tr>
                <td>
                    <p class="subTitulo">Opções de Contratação </p>
                </td>
            </tr>

            <tr>
                <td>
                    <p>Conforme as opções de LMG e Franquia selecionado no Portal</p>
                </td>
            </tr>

            <tr>
                <td>

                    <table id="tabelaContratacao">
                        <tbody>
                            <tr id="primeiraLinha">
                                <td></td>
                                <td>Limite Máximo de Garantia - LMG</td>
                                <td>Franquia</td>
                                <td>Prêmio TOTAL</td>
                            </tr>
                            <tr>
                                <td><strong>Opção 1</strong></td>
                                <td><span class="red">R$ 5.000.000,00</span></td>
                                <td><span class="red">P.O.S de 15% dos prejuízos com mínimo de R$ 60.000,00</span></td>
                                <td><span class="red">R$ 13.000,00</span></td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>

            <tr>
                <td class="formaPgto">
                    <strong>Forma de Pagamento</strong>
                </td>
            </tr>

            <tr>
                <td>
                    <ul>
                        <li>À Vista</li>
                        <li>Parcelado em até 6x sem juros ou 10x com juros de 2,0% ao mês.</li>
                    </ul>
                </td>
            </tr>

        </tbody>

    </table>

    <div class="pageBreak"></div>

    <table>

        @*content*@
        <tr>
            <td>
                <p class="subTitulo">Extensão de Coberturas</p>
            </td>
        </tr>

        <tr>
            <td>

                <table class="tabela" id="tabelaExtensao">

                    <tbody>

                        <tr class="lmgBorder">
                            <td class="lmg"></td>
                            <td class="lmg"><strong>LMG</strong></td>
                        </tr>
                        <tr>
                            <td>DANOS DECORRENTES DE AÇÕES OU OMISSÕES CULPOSAS NA PRESTAÇÃO DE SERVIÇOS PROFISSIONAIS</td>
                            <td>100% do LMG</td>
                        </tr>
                        <tr>
                            <td>CUSTO DE DEFESA DO SEGURADO</td>
                            <td>100% do LMG</td>
                        </tr>
                        <tr>
                            <td>DANOS MATERIAIS, DANOS CORPORAIS E DANOS MORAIS</td>
                            <td>100% do LMG</td>
                        </tr>
                        <tr>
                            <td>ATOS DESONESTOS DE EMPREGADOS</td>
                            <td>10% do LMG</td>
                        </tr>
                        <tr>
                            <td>PROPRIEDADE INTELECTUAL</td>
                            <td>100% do LMG</td>
                        </tr>
                        <tr>
                            <td>EXTRAVIO, ROUBO OU FURTO DE DOCUMENTOS</td>
                            <td>100% do LMG</td>
                        </tr>
                        <tr>
                            <td>PERDAS FINANCEIRAS / LUCROS CESSANTES DE TERCEIROS</td>
                            <td>100% do LMG</td>
                        </tr>
                        <tr>
                            <td>CONSULTORES, CONTRATADOS, SUBCONTRATADO</td>
                            <td>100% DO LMG</td>
                        </tr>
                        <tr>
                            <td>DANOS CAUSADOS POR TRANSMISSÃO INVOLUNTÁRIA DE VÍRUS E MALWARE</td>
                            <td>10% do LMG</td>
                        </tr>

                    </tbody>

                </table>

            </td>
        </tr>

        <tr>
            <td>
                <p class="subTitulo">Exclusões</p>
            </td>
        </tr>

        <tr>
            <td>
                <ul>

                    <li>Atos dolosos ou culpa grave equiparável ao dolo</li>
                    <li>Fatos ou Atos anteriores à data retroativa de cobertura</li>
                    <li>Reclamações iniciadas antes da data de início de vigência</li>
                    <li>Reclamações relacionadas riscos seguráveis em outras modalidades de seguros, tais como RC Produtos, RC Obras, Riscos de Engenharia e Risco Cibernético.</li>
                    <li>Quaisquer fatos e/ou reclamações que não sejam decorrentes da atividade profissional do segurado.</li>
                    <li>Quaisquer reclamações relacionadas a obras, projetos e/ou atividades que possuam apólice de RC Profissional especifica.</li>
                    <li>Reclamação resultante de, baseada em ou atribuível a qualquer defeito na concepção ou fabricação de qualquer produto</li>
                    <li>Reclamação resultante de, baseada em ou atribuível a um defeito em qualquer matéria-prima</li>
                    <li>Reclamação resultante de, baseada em ou atribuível. Serviços em que a Anotação de Responsabilidade Técnica (ART) ou Registro de Responsabilidade Técnica (RRT) não tenham sido emitidos junto ao CREA ou CAU, respectivamente</li>
                    <li>Reclamação resultante de, baseada em ou atribuível a quebra de garantia ou atraso</li>
                    <li>Reclamação resultante de, baseada em ou atribuível erro de avaliação de bens.</li>
                    <li>Demais exclusões do produto Responsabilidade Civil Profissional da Ezze Seguros S.A</li>
                </ul>

            </td>
        </tr>

    </table>

    <div class="pageBreak"></div>

    <table>
        <tr>
            <td>
                <p class="subTitulo">
                    Observações
                </p>
            </td>
        </tr>

        <tr>
            <td>

                <ul>

                    <li>O registro deste plano na SUSEP não implica, por parte da Autarquia, incentivo ou recomendação a sua comercialização.</li>
                    <li>O segurado poderá consultar a situação cadastral de seu corretor de seguros, no site www.susep.gov.br, por meio do número de seu registro na SUSEP, nome completo, CNPJ ou CPF.</li>
                    <li>PROCESSO PRODUTO SUSEP: 15414.629090/2019-49.</li>
                    <li>O segurado poderá consultar a situação cadastral de seu corretor de seguros, no site www.susep.gov.br, por meio do número de seu registro na SUSEP, nome completo, CNPJ ou CPF.</li>

                </ul>

            </td>
        </tr>

    </table>

    @*<div class="pageBreak"></div>*@

    <table>

        @*content*@
        <tr>
            <td>
                <p class="subTitulo">Forma de Pagamento</p>
            </td>
        </tr>

        <tr>
            <td>
                <p>Sair as formas de pagamento para cada opção colocada no momento do cálculo no sistema, segue exemplo</p>
            </td>
        </tr>

        <tr>
            <td>
                <table id="tabelaPagamento" style="font-size:0.8em;margin-bottom:50px">
                    <thead>
                        <tr>
                            <th colspan="2" rowspan="2">Plano</th>
                            <th colspan="3">Opção 1</th>
                            <th colspan="3">Opção 2</th>
                            <th colspan="3">Opção 3</th>
                            <th colspan="3">Opção 4</th>
                        </tr>

                        <tr>
                            <td>
                                1º Parcela
                            </td>
                            <td>
                                Demais
                            </td>
                            <td>
                                Total
                            </td>
                            <td>
                                1º Parcela
                            </td>
                            <td>
                                Demais
                            </td>
                            <td>
                                Total
                            </td>
                            <td>
                                1º Parcela
                            </td>
                            <td>
                                Demais
                            </td>
                            <td>
                                Total
                            </td>
                            <td>
                                1º Parcela
                            </td>
                            <td>
                                Demais
                            </td>
                            <td>
                                Total
                            </td>
                        </tr>

                    </thead>

                    <tbody>
                        <tr>
                            <td rowspan="2">0&nbsp;+&nbsp;1</td>
                            <td>Débito em Conta</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                        <tr>
                            <td>Carnê</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                        <tr>
                            <td rowspan="2">0&nbsp;+&nbsp;2</td>
                            <td>Débito em Conta</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                        <tr>
                            <td>Carnê</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                        <tr>
                            <td rowspan="2">0&nbsp;+&nbsp;3</td>
                            <td>Débito em Conta</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                        <tr>
                            <td>Carnê</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                        <tr>
                            <td rowspan="2">0&nbsp;+&nbsp;4</td>
                            <td>Débito em Conta</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                        <tr>
                            <td>Carnê</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                        <tr>
                            <td rowspan="2">0&nbsp;+&nbsp;5</td>
                            <td>Débito em Conta</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                        <tr>
                            <td>Carnê</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                        <tr>
                            <td rowspan="2">0&nbsp;+&nbsp;6</td>
                            <td>Débito em Conta</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                        <tr>
                            <td>Carnê</td>
                            <td>0,00</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                            <td>3.156,97</td>
                        </tr>
                    </tbody>

                </table>
            </td>
        </tr>

    </table>

</body>

</html>
