
body {
    font-family: Calibri;
    width: 80%;
    margin-left: 10%;
}

/*page 1*/
div.pageBreak {
    page-break-after: always;
}

.data {
    display: block;
    
    margin-bottom: 70px;
    margin-top: 100px;
    text-align: right
}

.titulo {
    color: #1F8690;
    display: block;
    font-size: 1.7em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 110px;
    margin-top: 40px;
    text-align: left;
}

.texto {
    display: block;

    margin-bottom: 15px;
    margin-top: 20px;
    text-align: justify
}

/*page 2*/

.subTitulo {
    color: #1F8690;
    display: block;
    font-size: 1.7em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 30px;
    margin-top: 50px;
}

#tabelaProponente tr:nth-child(even) {
    background-color: #D9E2F3;
}

#tabelaProponente td {
    border-bottom-width: 1px;
    border-bottom-color: #1C7882;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-top-color: #1C7882;
    border-top-style: solid;
    padding: 4px;
    text-align: left;
    vertical-align: top;
}

#tabelaProponente td:nth-child(even) {
        border-left-width: 1px;
        border-left-color: #1C7882;
        border-left-style: solid;
    }

#tabelaProponente tr > td:first-child {
    font-weight: bold;
    width: 200px;
}

.tdTomadorTexto {
    font-weight:400;
}

#tabelaTermos tr:nth-child(even) {
    background-color: #D9E2F3;
}

#tabelaTermos td {
    border-bottom-width: 1px;
    border-bottom-color: #1C7882;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-top-color: #1C7882;
    border-top-style: solid;
    padding: 4px;
    text-align: left;
    vertical-align: top;
}

#tabelaTermos td:nth-child(even) {
    border-left-width: 1px;
    border-left-color: #1C7882;
    border-left-style: solid;
}

#tabelaTermos tr > td:first-child {
    font-weight: bold;
    width:200px;
}

#tomadorTopBorder {
    border-top:hidden;
}

#tabelaContratacao {
    border-collapse: collapse;
    display: table;
    margin-bottom: 15px;
    text-align: center;
    vertical-align: central;
}

#tabelaContratacao td {
        border-width: 1px;
        border-color: #1C7882;
        border-style: solid;
        padding: 4px;
    }

#tabelaContratacao tr:nth-child(odd) {
        background-color: #D9E2F3;
    }

#tabelaContratacao td:first-child {
        background-color: #D9E2F3;
       
    }

#primeiraLinha{
    font-weight: bold;
}

#primeiraLinha td:first-child {
        background-color: #FFF;
        border-left-width: 0px;
        border-top-width: 0px;
    }

.formaPgto {
        text-decoration: underline;
        /*padding-top: 20px;*/
    }

.red{
        color:red;
    }

#tabelaPagamento td {
    border-width: 1px;
    border-bottom-color: black;
    border-style: solid;
    font-size: 0.9em;
    overflow: hidden;
    word-wrap: break-word;
    padding:2px;
    width: auto;
}

#tabelaPagamento th {
    font-weight: 600;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    padding: 2px;
    width: auto;
}

#tabelaExtensao {
    border-collapse: collapse;
    display: table;
}

#tabelaExtensao tr > td:first-child {
    font-weight: bold;
}

#tabelaExtensao tr:nth-child(even) {
    background-color: #D9E2F3;
}

#tabelaExtensao td:nth-child(even) {
        border-left-width: 1px;
        border-left-color: #1C7882;
        border-left-style: solid;
    }

#tabelaExtensao td {
        border-bottom-width: 1px;
        border-bottom-color: #1C7882;
        border-bottom-style: solid;
        border-top-width: 1px;
        border-top-color: #1C7882;
        border-top-style: solid;
        padding: 4px;
    }

.lmg {
    border:hidden; 
    text-align:center; 
    font-size:1.2em
}

.lmgBorder {
    border-top: hidden;
}

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
}


/*print setup for CTRL + P*/
@media print {
    #header {
        position: fixed;
        top: 0;
    }

    #footer {
        position: fixed;
        bottom: 0;
    }
}

@media screen {
    #footer {
        display: none;
    }

    #header {
        display: none;
    }
}